<!-- 将以下内容添加到项目的Info.plist中，或在Xcode项目设置的Custom iOS Target Properties中添加 -->
<key>LSApplicationQueriesSchemes</key>
<array>
    <!-- 社交应用 -->
    <string>weixin</string>
    <string>mqq</string>
    <string>sinaweibo</string>
    <string>xhsdiscover</string>
    <string>instagram</string>
    <string>fb</string>
    <string>twitter</string>
    <string>whatsapp</string>
    <string>tg</string>
    <string>discord</string>
    <string>linkedin</string>
    <string>snapchat</string>
    <string>pinterest</string>
    <string>tumblr</string>
    <string>reddit</string>
    
    <!-- 娱乐应用 -->
    <string>snssdk1128</string>
    <string>kwai</string>
    <string>bilibili</string>
    <string>qiyi-iphone</string>
    <string>tenvideo</string>
    <string>youku</string>
    <string>youtube</string>
    <string>nflx</string>
    <string>musically</string>
    <string>twitch</string>
    <string>hulu</string>
    <string>disneyplus</string>
    <string>hbomax</string>
    <string>aiv</string>
    
    <!-- 购物应用 -->
    <string>taobao</string>
    <string>openapp.jdmobile</string>
    <string>tmall</string>
    <string>pinduoduo</string>
    <string>amazon</string>
    <string>ebay</string>
    <string>walmart</string>
    
    <!-- 金融应用 -->
    <string>alipay</string>
    <string>bocmobile</string>
    <string>cmbmobilebank</string>
    <string>paypal</string>
    <string>venmo</string>
    <string>cashapp</string>
    <string>robinhood</string>
    
    <!-- 音乐应用 -->
    <string>orpheus</string>
    <string>qqmusic</string>
    <string>kugouURL</string>
    <string>spotify</string>
    <string>music</string>
    <string>soundcloud</string>
    <string>pandora</string>
    
    <!-- 出行应用 -->
    <string>diditaxi</string>
    <string>iosamap</string>
    <string>baidumap</string>
    <string>meituangroup</string>
    <string>eleme</string>
    <string>uber</string>
    <string>lyft</string>
    <string>airbnb</string>
    <string>booking</string>
    
    <!-- 新闻应用 -->
    <string>zhihu</string>
    <string>snssdk141</string>
    <string>baiduboxapp</string>
    <string>cnn</string>
    <string>bbcnews</string>
    <string>nytimes</string>
    
    <!-- 浏览器 -->
    <string>googlechrome</string>
    <string>firefox</string>
    <string>microsoft-edge</string>
    
    <!-- 工具应用 -->
    <string>onepassword</string>
    <string>lastpass</string>
    <string>evernote</string>
    <string>notion</string>
    <string>ms-word</string>
    <string>ms-excel</string>
    <string>ms-powerpoint</string>
    <string>googledocs</string>
    <string>slack</string>
    <string>zoomus</string>
    <string>msteams</string>
    <string>googlemeet</string>
    
    <!-- 游戏 -->
    <string>smoba</string>
    <string>pubgmobile</string>
    <string>genshinimpact</string>
    <string>candycrush</string>
    <string>pokemongo</string>
    <string>clashofclans</string>
    <string>amongus</string>
    
    <!-- 健康健身 -->
    <string>nikerunclub</string>
    <string>strava</string>
    <string>myfitnesspal</string>
    <string>headspace</string>
    
    <!-- 系统应用 -->
    <string>prefs</string>
    <string>mailto</string>
    <string>tel</string>
    <string>sms</string>
    <string>camera</string>
    <string>http</string>
    <string>maps</string>
    <string>itms-apps</string>
    <string>clock</string>
    <string>calc</string>
    <string>mobilenotes</string>
    <string>x-apple-reminder</string>
    <string>calshow</string>
    <string>photos-redirect</string>
    <string>weather</string>
    <string>stocks</string>
</array>
